@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body{
    font-family: "Poppins", sans-serif;
    background: #ececec;
}
.box-area{
    width: 950px;
    filter: drop-shadow(10px 10px 15px black);
}
.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
  }
.right-box{
    padding: 40px 30px 40px 40px;
}
::placeholder{
    font-size: 16px;
}
/* .rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
} */
@media only screen and(max-width: 768px) {
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding:20px;
    }
    .sidebar {
        width: 70px;
    }
    .sidebar.active {
        width: 200px;
    }
    .sidebar .logo h5 {
        font-size: 16px;
    }
    .sidebar.active #btn {
        left: 8rem;
    }
    .nav-links li a i {
        min-width: 50px;
        height: 40px;
        line-height: 40px;
    }
    #btn {
        font-size: 20px;
        left: 1.5rem;
    }
    .sidebar.active #btn {
        left: 7.5rem;
    }
    .section {
        padding: 20px;
        margin-left: 70px;
        transition: margin-left .3s ease;
    }
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
